<header>

   <div class="header">
    <h1>clockgram</h1> 
    <img class="header-img" src="logo/Logo.webp" alt="Logo">      
   </div> 
  
  <nav>
    
    <div class="title">
     <img src="logo/home.webp" alt="">
     <a class="link" href="">Startseite</a>
    </div>  
    
    <div class="title">
     <img src="logo/reels.webp" alt="">
     <a class="link" href="">Reels</a>
    </div>
    
    <div class="title">
     <img src="logo/nachrichten.webp" alt="">
     <a class="link" href="">Nachrichten</a>
    </div>
    
    <div class="title"> 
     <img src="logo/benachrichtigung.webp" alt="">
     <a class="link" href="link" href="">Benachrichtungen</a>
    </div>
    
    <div class="title">
      <img src="logo/freunde.webp" alt="">
      <a class="link" href="link" href="">Freunde</a>
    </div> 
    
    <div class="title">
     <img class="Profil" src="logo/piri.webp" alt="">  
     <a class="link" href="link" href="">Profil</a>
    </div>

  <div class="title1">
     
    <div class="title">
       <img src="/logo/einstellung.webp" alt="">
       <a class="link" href="">Einstellung </a> 
    </div>
     
    <div class="title">
       <img src="/logo/menu.webp" alt="">
       <a class="link" href=""> Mehr </a> 
    </div> 
    
  </div>
    
    
  
  </nav>
     
      
   
</header>

